<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Assessment Tool for HR</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.hemant.admin.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HrLogin</display-name>
    <servlet-name>HrLogin</servlet-name>
    <servlet-class>com.hemant.hr.HrLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HrLogin</servlet-name>
    <url-pattern>/HrLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHr</display-name>
    <servlet-name>AddHr</servlet-name>
    <servlet-class>com.hemant.admin.AddHr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHr</servlet-name>
    <url-pattern>/AddHr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteHr</display-name>
    <servlet-name>DeleteHr</servlet-name>
    <servlet-class>com.hemant.admin.DeleteHr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteHr</servlet-name>
    <url-pattern>/DeleteHr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddJob</display-name>
    <servlet-name>AddJob</servlet-name>
    <servlet-class>com.hemant.hr.AddJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddJob</servlet-name>
    <url-pattern>/AddJob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterCand</display-name>
    <servlet-name>RegisterCand</servlet-name>
    <servlet-class>com.hemant.candidate.RegisterCand</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterCand</servlet-name>
    <url-pattern>/RegisterCand</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalculateScore</display-name>
    <servlet-name>CalculateScore</servlet-name>
    <servlet-class>com.hemant.candidate.CalculateScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculateScore</servlet-name>
    <url-pattern>/CalculateScore</url-pattern>
  </servlet-mapping>
</web-app>